* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
button,
select,
a,
a:link,
a:visited,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

body {
    background-color: #131419;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

#title {
    font-size: 5rem;
    color: #ee5f0c;
    font-family: 'Nunito', sans-serif;
    text-shadow: 3px 0 #7a3106;
}

footer {
    color: rgba(205, 205, 221, 0.267);
    font-family: 'Nunito', sans-serif;
}

footer a {
    color: rgba(205, 205, 221, 0.5);
}

.a {}

.s {}

.d {}

.f {}

.g {}

.h {}

.j {}

.set {
    margin: 10% auto;
    /* prevent zoom (for mobile) */
    touch-action: pan-x pan-y;

}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.red {
    color: red;
}

.drum {
    position: relative;
    outline: none;
    border: 4px solid #464b5a6c;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: rgba(255, 177, 177, 0.247);
    border-radius: 15px;
    display: inline-block;
    width: 4.375rem;
    height: 9.375rem;
    text-align: center;
    /* text-transform: uppercase; */
    margin: .5rem;
    background-color: white;

}

.drum span {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: .875rem;
    right: 1rem;
    background-color: #631911;
    border-radius: 50px;
    font-size: 1.2rem;
    transition: .3s;
}

button.red {
    background-color: rgb(255, 0, 64);
}

button.orange {
    background-color: rgb(255, 136, 0);
}

button.yellow {
    background-color: rgb(208, 255, 0);
}

button.white {
    background-color: rgb(228, 238, 235);
}

.button-pressed {
    transition: .3s;
    transform: scale(.9);
    filter: brightness(.5);
}

.drum .light-on {
    background-color: #ff6572;
    color: #ff6572;
    transition: .1s;
}

.drum {
    text-transform: uppercase;
}

/* sound labeling */
button.a:before {
    content: "kick";
    text-transform: lowercase;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 6.5rem;
    right: 1rem;
    font-size: 1.2rem;
}

button.s:before {
    content: "clap";
    text-transform: lowercase;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 6.5rem;
    right: 1rem;
    font-size: 1.2rem;
}

button.d:before {
    content: "snare";
    text-transform: lowercase;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 6.5rem;
    right: .5rem;
    font-size: 1.2rem;
}

button.f:before {
    content: "hhc";
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 6.5rem;
    right: .9rem;
    font-size: .9rem;
}

button.g:before {
    content: "rimshot";
    text-transform: lowercase;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 6.5rem;
    right: .45rem;
    font-size: .875rem;
}

button.h:before {
    content: "cowbell";
    text-transform: lowercase;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 6.5rem;
    right: .4rem;
    font-size: .875rem;
}

button.j:before {
    content: "hho";
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 6.5rem;
    right: .9rem;
    font-size: .9rem;
}
